@import "../variables.scss";

.root {
  color: red;
  box-shadow: $shadow-2dp;
  // background: url(./bg.png);
  transition-timing-function: $animation-curve-default;
  transition-duration: $animation-duration-default;
}
